.full-height {
  height: 100%;
}
body {
  overflow-x: hidden;
  background-color: rgb(var(--dark));
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.locked {
  height: 100vh;
  overflow: hidden;
}
#__nuxt {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.vertical-text {
  writing-mode: vertical-lr; /* vertical-lr for vertical text from left to right */
  text-orientation: mixed; /* This property is used to control the orientation of characters */
  transform: rotate(
    -180deg
  ); /* Rotate the text 180 degrees to make it read correctly */
  white-space: nowrap; /* Prevent text from wrapping */
}
